.recortado-dos-lados {
    clip-path: polygon(1em 0%, 100% 0%, calc(100% - 1em) 100%, 0% 100%);
}

.recortado-un-lado {
    clip-path: polygon(0 0, 100% 0, calc(100% - 30px) 100%, 0 100%);
}

mayuscula {
    text-transform: uppercase;
}