.banner {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/proyecto-vite-andres.appspot.com/o/defLeppard%2Fbanner.jpg?alt=media&token=7eb8d2f7-a1b6-4bf9-a8a5-338c14100307");
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    height: 400px;
}